{% extends 'index.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--start-ckeckout-->
    <div class="ckeckout">
        <div class="container">
            <div class="ckeck-top heading">
                <h2>CHECKOUT</h2>
            </div>
            <div class="ckeckout-top">
                <div class="cart-items">
                    <h3>My Shopping Bag ({{ cartList.count }})</h3>
                    <script>$(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
                    </script>
                    <script>$(document).ready(function (c) {
                        $('.close2').on('click', function (c) {
                            $('.cart-header1').fadeOut('slow', function (c) {
                                $('.cart-header1').remove();
                            });
                        });
                    });
                    </script>
                    <script>$(document).ready(function (c) {
                        $('.close3').on('click', function (c) {
                            $('.cart-header2').fadeOut('slow', function (c) {
                                $('.cart-header2').remove();
                            });
                        });
                    });
                    </script>

                    <div class="in-check">
                        <ul class="unit">
                            <li><span>Item</span></li>
                            <li><span>Product Name</span></li>
                            <li><span>Unit Price / Amount</span></li>
                            <li><span>Subtotal / Delivery Details</span></li>
                            <li></li>
                            <div class="clearfix"></div>
                        </ul>
                        {% for commodity in cartList %}
                            <ul class="cart-header">
                                <a href="{% url 'app:removeitem' cid=commodity.product.id %}">
                                    <div class="close1"></div>
                                </a>
                                <li class="ring-in">
                                    <a href="{% url 'app:single' cid=commodity.product.id %}">
                                        <img src="/static/upload/{{ commodity.product.picture_1 }}"
                                             class="img-responsive"
                                             alt="{{ commodity.product.cname }}" style="width: 100px;">
                                    </a>
                                </li>
                                <li><span class="name">{{ commodity.product.sku }}</span></li>
                                <li>
                                    <span class="cost">
                                    $ {{ commodity.product.price }} / {{ commodity.quantity }}
                                    </span>
                                </li>
                                <li><span>$ {{ commodity.total_price }} / Free</span>
                                    <p>Delivered in 2-3 business days</p></li>
                                <div class="clearfix"></div>
                            </ul>
                        {% endfor %}
                        {% if cartList.count > 0 %}
                            <ul class="cart-header">

                                <div></div>
                                <li class="ring-in">
                                    <div style="width: 100px;height: 100px;"></div>
                                </li>
                                <li><span class="name">Summary:</span></li>
                                <li>
                                <span class="cost">
                                    $ {{ cartList.summary }}
                                </span>
                                </li>
                                <li>
                                    <a href="{% url 'app:sellteaccounts' %}" class="add-cart item_add" id="addToCart">
                                        settle accounts
                                    </a>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end-ckeckout-->
{% endblock %}