{% load static %}
<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <!--Custom-Theme-files-->
        <!--theme-style-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
        <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
        <!--start-menu-->
        <script src="{% static 'js/simpleCart.min.js' %}"></script>
        <link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <script type="text/javascript" src="{% static 'js/memenu.js' %}"></script>
        <script>$(document).ready(function () {
            $(".memenu").memenu();
        });</script>
        <!--dropdown-->
        <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    </head>
{% endblock %}
{% block body %}
    <body>
    <!--top-header-->
    {% block top_header %}
        <div class="top-header">
            <div class="container">
                <div class="top-header-main">
                    <div class="col-md-6 top-header-left">
                        <div class="drop">
                            <div class="box">
                                {% if user.is_authenticated %}
                                    <span tabindex="4" class="dropdown drop">
                                            {{ user.first_name }}.{{ user.last_name }}
                                    </span>
                                {% else %}
                                    <span tabindex="4" class="dropdown drop">
                                            Hello
                                    </span>
                                {% endif %}
                            </div>
                            <div class="box1">
                                {% if user.is_authenticated %}

                                    <a href="{% url 'app:user_logout' %}" tabindex="4" class="dropdown">Logout</a>

                                {% else %}
                                    <a href="{% url 'app:account' %}" tabindex="4" class="dropdown">Login</a>
                                {% endif %}
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 top-header-left">
                        <div class="cart box_1">
                            <a href="{% url 'app:cart' %}">
                                <div class="total">
                                    <span>
                                        $ {{ styles.4.summary }}{% if styles.4.summary == 0 %}.00{% endif %}
                                    </span>
                                </div>
                                <img src="{% static 'images/cart-1.png' %}" alt=""/>
                            </a>
                            <p><a href="{% url 'app:emptyitems' %}?path={{ request.get_full_path }}"
                                  class="simpleCart_empty">Empty
                                Cart</a></p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!--top-header-->
    <!--start-logo-->
    {% block start_logo %}
        <div class="logo">
            <a href="">
                <img src="{% static 'images/logo_patek_beige.svg' %}" alt="" height="125px" width="234px">
            </a>
        </div>
    {% endblock %}
    <!--start-logo-->
    <!--bottom-header-->
    {% block bottom_header %}
        <div class="header-bottom">
            <div class="container">
                <div class="header">
                    <div class="col-md-9 header-left">
                        <div class="top-nav">
                            <ul class="memenu skyblue">
                                <li class="active">
                                    <a href="{% url 'app:index' %}">
                                        <img src="{% static 'images/nav_calatrava_home_beige.svg' %}" alt="Home"
                                             height="26px">
                                    </a>
                                </li>
                                <li class="grid"><a href="#" style="color: rosybrown">时计系列</a>
                                    <div class="mepanel">
                                        <div class="row">
                                            <div class="col1 me-one">
                                                <h4>Man</h4>
                                                <ul>
                                                    {% for style in styles.0 %}
                                                        <li>
                                                            <a href="{% url 'app:product' sid=style.sid tag=1 %}">
                                                                {{ style.s_name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col1 me-one">
                                                <h4>Women</h4>
                                                <ul>
                                                    {% for style in styles.1 %}
                                                        <li>
                                                            <a href="{% url 'app:product' sid=style.sid tag=0 %}">
                                                                {{ style.s_name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col1 me-one">
                                                <h4>Classic</h4>
                                                <ul>
                                                    {% for style in styles.2 %}
                                                        <li>
                                                            <a href="{% url 'app:product' sid=style.sid %}">
                                                                {{ style.s_name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid"><a href="{% url 'app:contact' %}" style="color: rosybrown">联系我们</a>
                                </li>
                                <li class="grid"><a href="{% url 'app:orders' %}" style="color: rosybrown">售后与服务</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 header-right">
                        <div class="search-bar">
                            <form method="post" action="{% url 'app:search' %}">
                                {% csrf_token %}
                                <input type="text" value="Search" name="keyword" onfocus="this.value = '';"
                                       onblur="if (this.value == '') {this.value = 'Search';}">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!--bottom-header-->
    <!--banner-starts-->
    {% block content %}
        <div class="bnr" id="home">
            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="banner">
                        </div>
                    </li>
                    <li>
                        <div class="banner1">
                        </div>
                    </li>
                    <li>
                        <div class="banner2">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--banner-ends-->
        <!--Slider-Starts-Here-->

        <script src="{% static 'js/responsiveslides.min.js' %}"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>

        <!--End-slider-script-->

        <!--about-starts-->

        <div class="about">
            <div class="container">
                <div class="about-top grid-1">
                    {% for about in aboutList %}
                        <div class="col-md-4 about-left">
                            <figure class="effect-bubba">
                                <img class="img-responsive" src="/static/upload/{{ about.picture_1 }}" alt=""/>
                                <figcaption>
                                    <h2>{{ about.cname }}</h2>
                                    <p>{{ about.watch }}</p>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!--about-end-->
        <!--product-starts-->
        <div class="product">
            <div class="container">
                <div class="product-top">
                    {% for product in productList %}
                        {% if forloop.counter|add:3|divisibleby:4 %}
                            <div class="product-one">
                        {% endif %}
                    <div class="col-md-3 product-left">
                        <div class="product-main simpleCart_shelfItem">
                            <a href="{% url 'app:single' cid=product.id %}" class="mask">
                                <img class="img-responsive zoom-img" src="/static/upload/{{ product.picture_1 }}"
                                     alt=""/></a>
                            <div class="product-bottom">
                                <h3>{{ product.cname }}</h3>
                                <p>{{ product.sku }}</p>
                                <h4><a class="item_add" href="#"><i></i></a> <span
                                        class=" item_price">$ {{ product.price }}</span>
                                </h4>
                            </div>
                            <div class="srch">
                                <span>New</span>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 %}
                        <div class="clearfix"></div>
                        </div>
                    {% elif forloop.last %}
                        <div class="clearfix"></div>
                        </div>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
        </div>
        <!--product-end-->
    {% endblock %}
    <!--information-starts-->
    {% block infromation %}
        <div class="information">
            <div class="container">
                <div class="infor-top">
                    <div class="col-md-3 infor-left">
                        <h3>Follow Us</h3>
                        <ul>
                            <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                            <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                            <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="#"><p>Specials</p></a></li>
                            <li><a href="#"><p>New Products</p></a></li>
                            <li><a href="#"><p>Our Stores</p></a></li>
                            <li><a href="contact.html"><p>Contact Us</p></a></li>
                            <li><a href="#"><p>Top Sellers</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>My Account</h3>
                        <ul>
                            <li><a href="{% url 'app:password' %}"><p>My Account</p></a></li>
                            <li><a href="#"><p>My Credit slips</p></a></li>
                            <li><a href="#"><p>My Merchandise returns</p></a></li>
                            <li><a href="{% url 'app:info' %}"><p>My Personal info</p></a></li>
                            <li><a href="#"><p>My Addresses</p></a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 infor-left">
                        <h3>Store Information</h3>
                        <h4>The company name,
                            <span>Lorem ipsum dolor,</span>
                            Glasglow Dr 40 Fe 72.</h4>
                        <h5>+955 123 4567</h5>
                        <p><a href="mailto:example@email.com">contact@example.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!--information-end-->
    <!--footer-starts-->
    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-6 footer-left">

                    </div>
                    <div class="col-md-6 footer-right">
                        <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                                                                                     href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!--footer-end-->
    </body>
{% endblock %}
</html>