{% extends 'index.html' %}
{% load static %}
{% block title %}Information{% endblock %}
{% block content %}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Information</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--register-starts-->
    <div class="register">
        <div class="container">
            <div class="register-top heading">
                <h2>INFORMATION</h2>
            </div>
            <form method="post" action="{% url 'app:info' %}">
                <div class="register-main">
                    <div class="col-md-6 account-left">
                        <h2>{{ user.email }}</h2>
                        <h4>Date Joined:{{ user.date_joined }}</h4>
                        <h4>Last Login:{{ user.last_login }}</h4>
                        <input type="hidden" name="uid" value="{{ user.uid }}">
                    </div>
                    <div class="col-md-6 account-left">
                        <input placeholder="First name" type="text" name="first_name" tabindex="1" required
                               value="{{ user.first_name }}">
                        <input placeholder="Last name" type="text" name="last_name" tabindex="2" required
                               value="{{ user.last_name }}">
                        <input placeholder="Mobile" type="text" name="mobile" tabindex="3" required
                               value="{{ user.mobile }}">
                        {% if  user.address %}
                            <input placeholder="Address" type="text" name="address" tabindex="4"
                                   value="{{ user.address }}">
                        {% else %}
                            <input placeholder="Address" type="text" name="address" tabindex="4">
                        {% endif %}
                        <ul>
                            <li>
                                <label class="radio left">
                                    <input type="radio" name="gender"
                                           {% if user.gender == 1 %}checked="checked"{% endif %} value="1">
                                    <i>Male</i>
                                </label>
                            </li>
                            <li>
                                <label class="radio">
                                    <input type="radio" name="gender"
                                           {% if user.gender == 0 %}checked="checked"{% endif %} value="0">
                                    <i>Female</i>
                                </label>
                            </li>
                            <div class="clearfix"></div>
                        </ul>
                        <div class="address submit">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% csrf_token %}
            </form>

        </div>
    </div>
    <!--register-end-->

{% endblock %}