{% extends 'index.html' %}
{% load static %}
{% block title %}My account{% endblock %}
{% block content %}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">My account</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--register-starts-->
    <div class="register">
        <div class="container">
            <div class="register-top heading">
                <h2>MY ACCOUNT</h2>
            </div>
            <form method="post" action="{% url 'app:password' %}">
                <div class="register-main">
                    <div class="col-md-6 account-left">
                        <h2>Dear:</h2>
                        <h2>{{ user.first_name }}.{{ user.last_name }}</h2>
                        <h2></h2>
                        <h2>{{ user.email }}</h2>
                    </div>
                    <div class="col-md-6 account-left">
                        <input placeholder="Old password" type="password" name="old_password" tabindex="4" required>
                        <input placeholder="New password" type="password" name="new_password" tabindex="4" required>
                        <input placeholder="Retype password" type="password" name="re_password" tabindex="4" required>
                    </div>
                    <div class="clearfix"></div>

                    <div class="address submit">
                        <input type="submit" value="Submit">
                    </div>
                    <input type="hidden" name="email" value="{{ user.email }}">
                    {% csrf_token %}
                </div>
            </form>

        </div>
    </div>
{% endblock %}