{% extends 'index.html' %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block body %}
{% block content %}
    <!--register-starts-->
    <div class="register">
        <div class="container">
            <div class="register-top heading">
                <h2>RESET PASSWORD</h2>
            </div>
            <form method="post" action="{% url 'app:reset_password' %}">
                <div class="register-main">
                    <div class="col-md-6 account-left">
                        <h2>Dear:</h2>
                        <h2>{{ user.first_name }}.{{ user.last_name }}</h2>
                        <h2></h2>
                        <h2>{{ user.email }}</h2>
                    </div>
                    <div class="col-md-6 account-left">
                        <input placeholder="New password" type="password" name="new_password" tabindex="4" required>
                        <input placeholder="Retype password" type="password" name="re_password" tabindex="4" required>
                    </div>
                    <div class="clearfix"></div>

                    <div class="address submit">
                        <input type="submit" value="Submit">
                    </div>
                    <input type="hidden" name="email" value="{{ user.email }}">
                    {% csrf_token %}
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% endblock %}
