{% extends 'index.html' %}
{% load static %}
{% block title %}
    Single
{% endblock %}
{% block content %}
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Single</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--start-single-->
    <div class="single contact">
        <div class="container">
            <div class="single-main">
                <div class="col-md-9 single-main-left">
                    <div class="sngl-top">
                        <div class="col-md-5 single-top-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="/static/upload/{{ commodity.picture_1 }}">
                                        <div class="thumb-image"><img src="/static/upload/{{ commodity.picture_1 }}"
                                                                      data-imagezoom="true"
                                                                      class="img-responsive" alt=""/></div>
                                    </li>
                                    <li data-thumb="/static/upload/{{ commodity.picture_2 }}">
                                        <div class="thumb-image"><img src="/static/upload/{{ commodity.picture_2 }}"
                                                                      data-imagezoom="true"
                                                                      class="img-responsive" alt=""/></div>
                                    </li>
                                    <li data-thumb="/static/upload/{{ commodity.picture_3 }}">
                                        <div class="thumb-image"><img src="/static/upload/{{ commodity.picture_3 }}"
                                                                      data-imagezoom="true"
                                                                      class="img-responsive" alt=""/></div>
                                    </li>
                                </ul>
                            </div>
                            <!-- FlexSlider -->
                            <script src="{% static 'js/imagezoom.js' %}"></script>
                            <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
                            <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css"
                                  media="screen"/>

                            <script>
                                // Can also be used with $(document).ready()
                                $(window).load(function () {
                                    $('.flexslider').flexslider({
                                        animation: "slide",
                                        controlNav: "thumbnails"
                                    });
                                });
                            </script>
                        </div>
                        <div class="col-md-7 single-top-right">
                            <div class="single-para simpleCart_shelfItem">
                                <h2>{{ commodity.cname }}</h2>
                                <div class="star-on">
                                    <ul class="star-footer">
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                        <li><a href="#"><i> </i></a></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#"> {{ commodity.sid.s_name }} </a>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <h5 class="item_price">$ {{ commodity.price }}</h5>
                                <p>{{ commodity.description }}</p>
                                <div class="available">
                                    <ul>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                                <ul class="tag-men">
                                    <li><span>TAG</span>
                                        <span class="women1">:
                                            {% if commodity.tag == '1' %}
                                                Men
                                            {% elif commodity.tag == '0' %}
                                                Woman
                                            {% endif %}
                                            ,
                                        </span></li>
                                    <li><span>SKU</span>
                                        <span class="women1">: {{ commodity.sku }}</span></li>
                                </ul>
                                <a href="{% url 'app:additem' cid=commodity.id %}" class="add-cart item_add"
                                   id="addToCart">ADD TO CART</a>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tabs">
                        <ul class="menu_drop">
                            <li class="item1">
                                <a href="#"><img src="/static/images/arrow.png" alt="">腕表</a>
                                <ul>
                                    <li class="subitem1">
                                        <a href="#" style="font-size: 16px;color: #8c7b67;">
                                            {{ commodity.watch }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if commodity.plate %}
                                <li class="item2"><a href="#"><img src="/static/images/arrow.png" alt="">表盘</a>
                                    <ul>
                                        <li class="subitem1">
                                            <a href="#" style="font-size: 16px;color: #8c7b67;">
                                                {{ commodity.plate }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if commodity.case %}
                                <li class="item3"><a href="#"><img src="/static/images/arrow.png" alt="">表壳</a>
                                    <ul>
                                        <li class="subitem1">
                                            <a href="#" style="font-size: 16px;color: #8c7b67;">
                                                {{ commodity.case }}
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            {% endif %}
                            {% if commodity.gem %}
                                <li class="item4"><a href="#"><img src="/static/images/arrow.png" alt="">宝石镶嵌</a>
                                    <ul>
                                        <li class="subitem2">
                                            <a href="#" style="font-size: 16px;color: #8c7b67;">
                                                {{ commodity.gem }}
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            {% endif %}
                            {% if commodity.strap %}
                                <li class="item5"><a href="#"><img src="/static/images/arrow.png" alt="">表带</a>
                                    <ul>
                                        <li class="subitem1">
                                            <a href="#" style="font-size: 16px;color: #8c7b67;">
                                                {{ commodity.strap }}
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="latestproducts">
                        <div class="product-one">
                            {% for recommend in recommendList %}
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="{% url 'app:single' cid=recommend.id %}" class="mask">
                                            <img class="img-responsive zoom-img"
                                                 src="/static/upload/{{ recommend.picture_1 }}" alt=""/>
                                        </a>
                                        <div class="product-bottom">
                                            <h3>{{ recommend.cname }}</h3>
                                            <p>{{ recommend.sid.s_name }}</p>
                                            <h4><a class="item_add" href="{% url 'app:single' cid=recommend.id %}">
                                                <i></i></a>
                                                <span class=" item_price">$ {{ recommend.price }}</span>
                                            </h4>
                                        </div>
                                        <div class="srch">
                                            <span>New</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-right">
                    <div class="w_sidebar">
                        <section class="sky-form">
                            <h4>Catogories</h4>
                            <div class="row1 scroll-pane">
                                <div class="col col-4">
                                    <label class="checkbox"><input type="checkbox" name="checkbox"
                                                                   {% if commodity.tag == '1' %}checked{% endif %}><i></i>Men
                                        Watches</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"
                                                                   {% if commodity.tag == '0' %}checked{% endif %}><i></i>Women
                                        Watches</label>
                                    <label class="checkbox"><input type="checkbox" name="checkbox"
                                                                   {% if commodity.sid > 7 %}checked{% endif %}><i></i>Classic
                                        Watches</label>
                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>Series</h4>
                            <div class="row1 row2 scroll-pane">
                                <div class="col col-4">
                                    {% for style in styles.3 %}
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"
                                                   {% if style.sid == commodity.sid.sid %}checked{% endif %}>
                                            <i></i>{{ style.s_name }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>Colour</h4>
                            <ul class="w_nav2">
                                <li><a class="color1" href="#"></a></li>
                                <li><a class="color2" href="#"></a></li>
                                <li><a class="color3" href="#"></a></li>
                                <li><a class="color4" href="#"></a></li>
                                <li><a class="color5" href="#"></a></li>
                                <li><a class="color6" href="#"></a></li>
                                <li><a class="color7" href="#"></a></li>
                                <li><a class="color8" href="#"></a></li>
                                <li><a class="color9" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                                <li><a class="color12" href="#"></a></li>
                                <li><a class="color13" href="#"></a></li>
                                <li><a class="color14" href="#"></a></li>
                                <li><a class="color15" href="#"></a></li>
                                <li><a class="color5" href="#"></a></li>
                                <li><a class="color6" href="#"></a></li>
                                <li><a class="color7" href="#"></a></li>
                                <li><a class="color8" href="#"></a></li>
                                <li><a class="color9" href="#"></a></li>
                                <li><a class="color10" href="#"></a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--end-single-->
    <script type="text/javascript">
        $(function () {

            var menu_ul = $('.menu_drop > li > ul'),
                menu_a = $('.menu_drop > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>

{% endblock %}

